{% load bootstrap4 static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="workouts.work is 1 on 1 meetings for managers">
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <title>{% block title %}Dashboard{% endblock %} | workouts.work</title>

  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">
  <link href="{% static "css/select2.min.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
  <link href="{% static "css/bootstrap-datepicker-widget.css" %}" rel="stylesheet">
  <link href="{% static "css/introjs.min.css" %}" rel="stylesheet">
  <link href="{% static "css/dropzone.min.css" %}" rel="stylesheet">
  <link href="{% static "css/dropzone-extra.min.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  {% block extra_css_scripts %}{% endblock %}
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css" async>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" async>
</head>

<body id="page-top">
  <div id="wrapper">
    {% include "app/includes/sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include "app/includes/topbar.html" %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% block page_title %}{% endblock %}</h1>
            {% block action_button %}{% endblock %}
          </div>
          {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible messages" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
          {% endfor %}
          {% block content %}{% endblock %}
        </div>
      </div>
      {% include "app/includes/footer.html" %}
    </div>
  </div>

  {% comment %}Scroll to top floating button.{% endcomment %}
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>
  <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
  <script src="{% static "js/select2.min.js" %}"></script>
  <script src="{% static "js/select2-django.js" %}"></script>
  <script src="{% static "js/moment-2.9.0.js" %}"></script>
  <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
  <script src="{% static "js/datepicker-widget.js" %}"></script>
  <script src="{% static "js/dropzone.min.js" %}"></script>
  <script src="{% static "js/intro.min.js" %}"></script>
  <script src="{% static "js/walk-through.js" %}"></script>
  <script src="{% static "js/sortable.min.js" %}"></script>
  <script src="{% static "js/flex-search-0.6.3.min.js" %}"></script>
  {% if debug %}
    <script src="{% static "js/vue.js" %}"></script>
  {% else %}
    <script src="{% static "js/vue.min.js" %}"></script>
  {% endif %}
  {% block extrajs %}{% endblock %}
  {% block extra_js_scripts %}{% endblock %}
  {% comment %} Enables tags for bootstrap-datepicker-plus {% endcomment %}
  {% block extrahead %}
    {{ form.media }}
  {% endblock %}
</body>

</html>
